/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'oswald-bold';
    src: url(./assets/custom-fonts/oswald-bold.ttf) format("truetype");
}

@font-face {
    font-family: 'oswald-light';
    src: url(./assets/custom-fonts/oswald-light.ttf) format("truetype");
}

@font-face {
    font-family: 'oswald-regular';
    src: url(./assets/custom-fonts/oswald-regular.ttf) format("truetype");
}